name: Daily Gold Push

on:
  schedule:
    # 每天北京时间早上 09:30 运行
    # GitHub 使用 UTC 时间，所以 09:00 - 8小时 = 01:00
    - cron: '30 1 * * *'
  
  # 允许你手动点击按钮立刻测试一次
  workflow_dispatch:

jobs:
  run-gold-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: |
          pip install requests
          
      - name: Run script
        env:
          # 将 GitHub Secrets 里的 Token 注入到环境变量
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        run: python main.py
